# **ðŸ”¹ TASK 1: Movie Recommender System**

**About Dataset**

These files contain metadata for all 45,000 movies listed in the Full MovieLens Dataset. The dataset consists of movies released on or before July 2017. Data points include cast, crew, plot keywords, budget, revenue, posters, release dates, languages, production companies, countries, TMDB vote counts and vote averages.

This dataset also has files containing 26 million ratings from 270,000 users for all 45,000 movies. Ratings are on a scale of 1-5 and have been obtained from the official GroupLens website.

This dataset consists of the following files:

movies_metadata.csv: The main Movies Metadata file. Contains information on 45,000 movies featured in the Full MovieLens dataset. Features include posters, backdrops, budget, revenue, release dates, languages, production countries and companies.

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import pandas as pd
movies = pd.read_csv("/content/drive/MyDrive/movies_metadata.csv")

/tmp/ipython-input-2-1721012484.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("/content/drive/MyDrive/movies_metadata.csv")

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words="english")
tfidf_matrix = tfidf.fit_transform(movies["overview"])

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [11]:
title_to_index = pd.Series(movies.index,index=movies["title"]).drop_duplicates()

In [16]:
def recommend_movies(title,num_recommendation=5):
    if title not in title_to_index:
        return "movies not found"
    idx = title_to_index[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num_recommendation+1]

    movie_indices = [i[0] for i in sim_scores]
    return movies['title'].iloc[movie_indices]

In [22]:
  recommend_movies("Toy Story")

1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [24]:
movies["title"]

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [26]:
recommend_movies("Jumanji")

2               Grumpier Old Men
0                      Toy Story
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [27]:
recommend_movies("Waiting to Exhale")

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
4    Father of the Bride Part II
Name: title, dtype: object

In [20]:
recommend_movies("The Avengers")

'movies not found'

In [21]:
recommend_movies("The Lion King")

'movies not found'